.container {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    overflow: hidden;
    margin: 3px 0;
}

.buttonContainer {
    padding: 10px;
    width: 100%;
    border: none;
    border-right: 1px solid black;
}

.removeButton {
    border: none;
}