.container {
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    overflow: hidden;
    margin: 3px 0;
    width: 85%;
    background-color: rgba(214, 215, 218, 0.8);
}

.selected {
    background-color: rgba(100, 100, 100, 0.8);
    font-weight: 600;
}

.buttonContainer {
    padding: 10px;
    width: 100%;
    border: none;
    border-right: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    font-weight: inherit;
}

.removeButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
}