
.SearchContainer {
    display: flex;
    flex-direction: row;
    position: relative;
}

.searchLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.searchInput {
    border: none;
    border-radius: 20px;
    height: 25px;
    align-self: center;
}

input:focus {
    outline: none;
}

.targetButton {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    cursor: pointer;
    margin: 5px
}