
.SearchContainer {
    display: flex;
    flex-direction: row;
}

.searchLogoContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchInput {
    border: none;
}

input:focus {
    outline: none;
}

.targetButton {
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
}