.container {
    background: rgb(246, 246, 248);
    padding: 15px;
    max-width: 75vw;
    min-height: 50vh;
}

.buttonsContainer {
    padding: 10px;
}

.periodTitle {
    background: none;
    border: none;
    font-size: 1rem;
    border-bottom: 2px solid black;
    transition: all 0.3s ease-in-out;
    margin: 0 10px;
    cursor: pointer;
    padding: 3px 2px;
}

.active {
    font-size: larger;
}